<div id="queryBlock">
    <table class="table-striped">
        <tr>
            <td><input type="text" id="from" placeholder="from" /></td>
            <td><input type="text" id="to" placeholder="to" /></td>
            <td><button id="sendQuery">send query</button></td>
        </tr>


    </table>
</div>

<div id="tableBlock" style="font-size: 10px">

</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sendQuery").click(function (event) {
                GetWordSet();
            })
        })

        //Getting word set by ajax query
        function GetWordSet() {
            var from = $('#from').val();
            var to = $('#to').val();
            $.ajax({
                url: '/api/word/' + from +'/' + to,
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    WriteResponse(data);
                },
                error: function () {
                    alert("You've entered uncorect query");
                    console.log("You've entered uncorect query");
                }
            });
        }

        function WriteResponse(WordSetModels) {
            debugger;
            var strResult = '"<table class="table table-striped wordSetsTableClass"><th>Words</th>"';
            $.each(WordSetModels, function (index, WordSetModel) {
                strResult += "<tr><td>";

                var itemWordList = WordSetModel.WordList;

                $.each(itemWordList, function (wordIndex, word) {
                    strResult += word + "  ";
                });

                strResult += "</td></tr>";
            });
            strResult += "</table>";
            $("#tableBlock").html(strResult);
        }
    </script>
}